---
import Layout from "../layout/Layout.astro";
import Pcard from "../componenter/Pcard.astro";
import MovingBanner2 from "../componenter/Moving_banner_2.astro";
const endpoint = "https://okvowjyxecqetvbxrzgz.supabase.co/rest/v1/beers_produkter?select=*";

const options={
    headers:{
        apikey: "sb_publishable_jnXD65Kv5X5LsuzRSrF0QQ_aVlCLROB",
    },
};

const data = await fetch(endpoint, options)
  .then((response) => response.json());

console.log(data);
---

<Layout>
    <MovingBanner2/>
    <img class="img_icon" src="/img/icon.svg" alt="Genbrug ikon" />
    <h1>Billige specialøl</h1>
     <div class="filtrer">
    <img class="img_filtrer" src="/img/filtrer.svg" alt="Filtrer ikon" />
    <p>FILTRER</p>
  </div>
  <section id="buttons">
    <div class="Button_1">
    <button data-type="Alle">Alle</button>
    <button data-type="Ipa">Ipa</button>
    <button data-type="Stout">Stout</button>
    <button data-type="Wild ale">Wild ale</button>
    </div>
    <div class="Button_2">
    <button data-type="Lager">Lager</button>
    <button data-type="Weissbier">Weissbier</button>
    <button data-type="Weisse">Weisse</button>
    </div>
</section>
    <section>
{data.map((product) => (<Pcard {product}/>))}
</section>

</Layout>

<script>
document
.querySelectorAll("button")
.forEach((button) => button.addEventListener("click", filtrer));

function filtrer(e) {
    const cards = document.querySelectorAll(".Pcard");
    const valgtType = e.target.dataset.type;
    console.log(e.target)
    cards.forEach((card) => {
        if (card.dataset.type == valgtType || valgtType == "Alle") {
            card.classList.remove("hide");
        } else {
            card.classList.add("hide");
        }
    });
}
</script>

<style>
#buttons button {
   margin: 10px;
   min-width: 100px;
   background-color: #FFFDFB;
   border-radius: solid 1px black;
}

#buttons {display: flex;}

.img_icon {margin: 30px;}

.filtrer {margin: 30px;
margin-left: 100px;
display: flex;}

.img_filtrer {margin: 10px;}


    h1 {text-align: center;}

    section 
{display: grid;
grid-template-columns: repeat(5, 1fr);
max-width: 1450px;}

@media (max-width: 800px) {
   section 
{display: grid;
grid-template-columns: repeat(2, 1fr);}
  
#buttons button {
   min-width: 60px;
}

button{   
    display: grid;
    grid-template-columns: 1fr;
    width: 100px;
}

.Button_1{
    grid-column: 1;
    grid-row: 1;
}

.Button_2{
    grid-column: 1;
    grid-row: 2;
}
.filtrer {margin: 30px;
margin-left: 30px;}
}
</style>